<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="/assets/images/Lacivert.png" type="image/x-icon" />

    <title>:: Epic :: Forgot Password</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />

    <!-- Core css -->
    <link rel="stylesheet" href="/assets/css/style.min.css" />
    <link rel="stylesheet" href="assets/css/default.css" />

</head>

<body class="font-muli dark-mode gradient">

    <div class="auth option2">
        <div class="auth_left">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <a class="header-brand" href="index.html"><i class="fa fa-graduation-cap brand-logo"></i></a>
                        <div class="card-title">Forgot password</div>
                    </div>
                    <p class="text-muted">Enter your email address and your password will be reset and emailed to you.
                    </p>
                    <div class="form-group">
                        <label class="form-label" for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block">Send me new password</button>
                        <div class="text-muted mt-4">Forget it, <a href="login.html">Send me Back</a> to the Sign in
                            screen.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Main project js, jQuery, Bootstrap -->
    <script src="/assets/bundles/lib.vendor.bundle.js"></script>

    <!-- Start project main js  and page js -->
    <script src="/assets/js/core.js"></script>
</body>

</html>