<!doctype html>
<html lang="tr" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="/assets/images/Lacivert.png" type="image/x-icon" />

    <title>:: Eğitim Yıldızı :: Giriş</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />

    <!-- Core css -->
    <link rel="stylesheet" href="/assets/css/style.min.css" />

</head>

<body class="font-muli dark-mode gradient">

    <div class="auth option2" style="background-color: #272c31;">
        <div class="auth_left">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                    <div class="text-center">
                        <a class="header-brand text-white"><img src="/assets/images/blue.png" alt=""
                                width="200"></i></a>
                        <div class="card-title mt-3">Hesabınıza Giriş Yapın</div>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp"
                            style="color:#7d8490;" autocomplete="off" placeholder="Kullanıcı Adınızı  Girin">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" style="color:#7d8490;"
                            autocomplete="off" placeholder="Şifrenizi girin">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-label">Beni Hatırla</span>
                        </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block" >Oturum aç</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Main project js, jQuery, Bootstrap -->
    <script src="/assets/bundles/lib.vendor.bundle.js"></script>

    <!-- Start project main js  and page js -->
    <script src="/assets/js/core.js"></script>
</body>

</html>